@import "main.css";
@import "setting.css";
@import "variables.css";

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Jal_Onuel", cursive;
  background-color: var(--bgColor);
  color: var(--mainColor);
}

a {
  text-decoration: none;
  color: var(--mainColor);
}
